<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow, noimageindex, nosnippet, nocache, noarchive">

    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">

    {% include "style" %}

    {% include "script" %}

    <title>{{ title }}</title>


  </head>

  <body>
    <button id="burger" class="navitem" href="#">☰</button>
    <nav id="nav">
        <ul id="navlist" class="navitem">
            <li class="navitem" ><a href="/" id="home">home</a></li>
            <li class="navitem"><a href="/cv" target="_blank">my CV</a></li>
            <li class="navitem" ><a href="/recipes" id="recipes">recipes</a></li>
            <li class="navitem" ><a href="/articles" id="articles">articles</a></li>
            <li class="navitem" ><a href="/projects" id="projects">projects</a></li>
            <li class="navitem" ><a href="/isitvegan" id="isitvegan">plants?</a></li>
            <li class="navitem"><a href="https://github.com/maxgallup/" target="_blank">github</a></li>
        </ul>
    </nav>


    <main>
        {% block content %}{% endblock content %}
    </main>






  </body>

  <footer>
        <div>
            <span><i>no cookies no bullshit</i> </span>
        </div>
    </footer>

</html>
